$copyright
package ${service_impl_package};

import java.util.HashMap;
import java.util.List;
import java.util.Map;

import org.junit.After;
import org.junit.Before;
import org.junit.Test;

import org.springframework.beans.factory.annotation.Autowired;

import ${base}.base.BaseTestCase;
import ${base}.base.service.PageInObject;
import ${base}.base.service.PageOutObject;

import ${import_service};
import ${import_model};

import static org.junit.Assert.assertEquals;

/**
 * This is Test of ${model} Service implemention
 * @author $author
 * @date $date
 */
public class ${model}ServiceImplTest extends BaseTestCase {

    private ${model}Service ${model_1}Service;
    private ${model}DTO dto;

    public ${model}ServiceImplTest() {
    }

    @Before
    public void setUp() {
        dto = new ${model}DTO();
    }

    @After
    public void tearDown() {
        dto = null;
    }

    @Test
    public void insert${model}() {
        boolean expected = true;
        int actual = ${model_1}Service.insert${model}(dto);
        assertEquals(expected, actual > 1);
    }

    @Test
    public void delete${model}() {
        int expected = 1;
        int actual = ${model_1}Service.delete${model}(1);
        assertEquals(expected, actual);
    }

    @Test
    public void update${model}() {
        dto.setId(2);

        int expected = 1;
        int actual = ${model_1}Service.update${model}(dto);
        assertEquals(expected, actual);
    }

    @Test
    public void get${model}ById() {
        ${model}DTO tmp = ${model_1}Service.get${model}ById(1);

        int expected = 1;
        int actual = tmp.getId();
        assertEquals(expected, actual);
    }

    @Test
    public void get${model}s() {
        List<${model}DTO> list = ${model_1}Service.get${model}s(null);

        int expected = 1;
        int actual = list.get(0).getId();
        assertEquals(expected, actual);
    }

    @Test
    public void get${model}sPaging() {
        Map<String,Object> map = new HashMap<String,Object>();
        PageInObject page = new PageInObject(0, 4, "id", "asc");

        PageOutObject<${model}DTO> pageOut = ${model_1}Service.get${model}sPaging(map,page);

        int expected = 4;
        int actual = pageOut.getList().size();
        assertEquals(expected, actual);
    }

    @Autowired
    public void set${model}Service(${model}Service ${model_1}Service) {
        this.${model_1}Service = ${model_1}Service;
    }
}