<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>

	<typeAliases>
		<typeAlias alias="quizDTO" type="org.conan.dm.quiz.model.QuizDTO"/>
		<typeAlias alias="quizDataDTO" type="org.conan.dm.quiz.model.QuizDataDTO"/>
		<typeAlias alias="quizSubmitDTO" type="org.conan.dm.quiz.model.QuizSubmitDTO"/>
	</typeAliases>

	<mappers>
		<!-- system -->
		<mapper resource="mybatis-mysql.xml" />
		
		<!-- model -->
		<mapper resource="org/conan/dm/quiz/dao/quiz.xml" />
		<mapper resource="org/conan/dm/quiz/dao/quizData.xml" />
		<mapper resource="org/conan/dm/quiz/dao/quizSubmit.xml" />
	</mappers>
	
</configuration>