<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>

	<typeAliases>
		<typeAlias alias="bankDTO" type="org.conan.bank.model.BankDTO" />
		<typeAlias alias="bankLogDTO" type="org.conan.bank.model.BankLogDTO" />
		<typeAlias alias="bankTransferDTO" type="org.conan.bank.model.BankTransferDTO" />
	</typeAliases>

	<mappers>
		<!-- system -->
		<mapper resource="mybatis-mysql.xml" />

		<!-- bank -->
		<mapper resource="org/conan/bank/dao/bank.xml" />
		<mapper resource="org/conan/bank/dao/bankLog.xml" />
		<mapper resource="org/conan/bank/dao/bankTransfer.xml" />
	</mappers>
	
</configuration>