<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>

	<typeAliases>
#foreach($alias in ${type_alias})
${alias}
#end
	</typeAliases>

	<mappers>
		<!-- system -->
		<mapper resource="mybatis-mysql.xml" />
		
		<!-- model -->
#foreach($mapper in ${xml_mappers})
${mapper}
#end
	</mappers>
	
</configuration>