#set( $dao = ${model}+"DAO" )
#set( $dto = ${model}+"DTO" )
#set( $dto_1 = ${model_1}+"DTO" )
#set( $ibatis = ${dao}+"Ibatis")
#set( $insert = "insert"+${model})
#set( $delete = "delete"+${model})
#set( $update = "update"+${model})
#set( $getId = "get"+${model}+"ById")
#set( $getList = "get"+${model}+"s")
#set( $getOne = "get"+${model}+"One")
#set( $getPage = ${getList}+"Paging")
#set( $getCount = ${getList}+"Count")
#set( $paramId = "#"+"{id}")
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!--
    This is ${model} sql
    @author $author
    @date $date
-->
<mapper namespace="${import_dao}.${dao}">

    <resultMap id="result" type="${dto_1}">
        <result property="id" column="id" javaType="java.lang.Integer"/>
#foreach($sql_result_map in $sql_result_maps )
        ${sql_result_map}
#end
    </resultMap>

    <sql id="select">
        SELECT
            id,
#foreach($sql_select in $sql_selects )
            ${sql_select}
#end
    </sql>

    <sql id="condition">
#foreach($sql_condition in $sql_conditions )
        ${sql_condition}
#end
        1=1
    </sql>

    <insert id="${insert}" parameterType="${dto_1}" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO $table(
#foreach($sql_insert_name in $sql_inserts_name )
            ${sql_insert_name}
#end
        ) VALUES (
#foreach($sql_insert_value in $sql_inserts_value )
            ${sql_insert_value}
#end
        )
    </insert>

#if($sql_delete_mark)
    <delete id="${delete}" parameterType="java.lang.Integer">
        UPDATE $table
        SET
            mark = 1
        WHERE
            id = ${paramId}
    </delete>
#{else}
    <delete id="${delete}" parameterType="java.lang.Integer">
        DELETE FROM $table
        WHERE
            id = ${paramId}
    </delete>
#end

#if($sql_delete_mark)
    UPDATE $table
        SET
            mark = 1
        WHERE
        <include refid="condition"/>
#{else}
	<delete id="${delete}s" parameterType="java.util.Map">
        DELETE FROM $table
        WHERE
        <include refid="condition"/>
    </delete>
#end

    <update id="${update}" parameterType="${dto_1}">
        UPDATE $table
        SET
#foreach($sql_update in $sql_updates )
            $sql_update
#end
            id = ${paramId}
        WHERE
            id = ${paramId}
    </update>

    <select id="${getId}" parameterType="java.lang.Integer" resultMap="result">
        <include refid="select"/>
        FROM
            $table
        WHERE
#if($sql_delete_mark)
            mark = 0 and
#end
            id = ${paramId}
    </select>
    
    <select id="${getOne}" parameterType="java.util.Map" resultMap="result">
        <include refid="select"/>
        FROM
            $table
        WHERE
#if($sql_delete_mark)
            mark = 0 and
#end
        <include refid="condition"/>
        limit 1
    </select>

    <select id="${getList}" parameterType="java.util.Map" resultMap="result">
        <include refid="select"/>
        FROM
            $table
        WHERE
#if($sql_delete_mark)
            mark = 0 and
#end
        <include refid="condition"/>
        <include refid="mysql.page.order"/>
        <include refid="mysql.page.limit"/>
    </select>

    <select id="${getCount}" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT
            count(id)
        FROM
            $table
        WHERE
#if($sql_delete_mark)
            mark = 0 and
#end
        <include refid="condition"/>
    </select>

#foreach($sql_finder in $sql_finders )
    $sql_finder
#end

</mapper>
